a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}
.nav_bar_container {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
  font-family: "Work sans";
  font-weight: 700;
  font-size: 16px;
}
.nav_bar_text {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav_bar_text a {
  color: #000000;
}
.nav_bar_btn {
  padding: 12px 10px;
  background-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  color: #120b48;
  font-weight: 600;
  font-size: 16px;
}
.hero_container {
  display: flex;
  gap: 48px;
  background-image: url(assets/HeroBackDots.svg), url(assets/HeroBackDots2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 93% 20%, 55% bottom;
  width: 100%;
  height: 650px;
  padding: 64px 72px;
}

.hero_text {
  display: flex;
  flex-direction: column;
}
.hero_text h1 {
  font-family: "Work sans";
  font-weight: 800;
  font-size: 64px;
  margin: 0;
}
.hero_text p,
.how_body_text {
  width: 80%;
  color: #616163;
  font-family: "Work Sans";
}
.hero_image_container {
  display: flex;
  gap: 8px;
  padding-top: 50px;
  margin-bottom: 25px;
  margin-right: 50px;
}
.hero_image_left_content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero_btn {
  background: #120b48 url(assets/arrow-right.svg) no-repeat calc(100% - 4px)
    center;
  width: 35%;
  padding: 12px 10px;
  border-radius: 5px;
  color: #fff;
}
.divider {
  background-color: #b5a9a91a;
  height: 10vh;
  margin: 64px 0;
}
.features_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 72px;
}
.features_head {
  text-align: center;
}
.features_body {
  display: flex;
  justify-content: space-between;
}
.features_body_content {
  display: flex;
  flex-direction: column;
}
.features_right_image {
  width: 550px;
  height: 450px;
}
.features_image {
  width: 25px;
  height: 25px;
}
.features_body_sub_content {
  display: flex;
  margin: 0;
  gap: 16px;
  margin-top: 16px;
}
.features_body_sub_content span {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features_head_text,
.How_head_text {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  margin-bottom: 16px;
}
.features_subhead_text,
.how_subhead_text {
  font-weight: 700;
  font-size: 24px;
  color: #1b233d;
  margin: 0;
}
.features_body_text {
  font-size: 24px;
  margin: 0;
  color: #616163;
}
.how_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 128px 72px;
}
.how_content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.how_body_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.how_body_text {
  margin: 0;
}
.how_top_image {
  width: 50px;
  height: 50px;
}
.how_bottom_image {
  width: 250px;
  height: 250px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #120b48;
  color: #fff;
  height: 50vh;
  padding: 0 72px;
}
.footer_body_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_head {
  font-weight: 600;
  font-size: 16px;
  font-family: "Sora";
}
.footer_subbody_content {
  display: flex;
  flex-direction: column;
}
.modal {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.save {
  background-color: #4eb795;
  width: 15%;
}
.close-modal {
  position: absolute;
  margin: 0;
  top: 47%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, 30%);
  background-color: #fff;
  border: none;
  color: #0b2220;
  padding: 4%;
  width: 25%;
  font-size: 16px;
  cursor: pointer;
}
.modal p {
  font-size: 24px;
  margin-top: auto;
  color: #fff;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.signup_container {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}
.signup_main_text {
  color: #1b233d;
  font-weight: 600;
  font-size: 24px;
}
.signup_body_text {
  color: #616163;
  width: 70%;
  margin: 0 auto;
}
.signup_container .logo {
  width: 100px;
  height: 50px;
}
.signup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.signup_box {
  width: 400px;
  height: 6vh;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #616163;
}

.google {
  background: #fff url(assets/google.svg) no-repeat 25% center;
}
.facebook {
  background: #fff url(assets/facebook.svg) no-repeat 25% center;
}
.white {
  background-color: #fff;
}
.blue {
  background-color: #120b48;
  color: #fff;
}
.form_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.divide {
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 400px;
  margin: 0;
}

.divide::before,
.divide::after {
  flex: 1;
  content: "";
  padding: 3px;
  background-color: #cacaca;
  margin: 5px;
}
